<div class="container">
    <div class="row">
        <div class="col-xs-12 body_margin">
            <h2 class="text_margin">Welcome to Bookers!</h2>
            <p class="text_margin">Bookers では、さまざまな書籍に関するあなたの意見や</p>
            <p class="text_margin">印象を共有し交換することができます。</p>
            <%= link_to "みんなの感想を見てみる",  books_path, class: "btn btn-light border" %>
        </div>
    </div>
</div>